<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <title>编译出错了！</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="hero-unit">
        <h1>~~o(>_<)o ~~主人，编译出错了哦！</h1>
        <br/>
        <hr/>
        <p>错误详细信息：</p>
        <p>
          {{.}}
        </p>
      </div>
      <hr/>
      <footer>
        <p>&copy; 2012 studygolang.com. All rights reserved.</p>
      </footer>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.min.js"></script>
  </body>
</html>